<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header" tour-step tour-step-title="Main Menu" tour-step-content="Navigate the site using this menu." tour-step-order="0"
            tour-step-placement="right">
            <a class="navbar-brand" href="#">WebSiteName</a>
        </div>
        <ul class="nav navbar-nav">
            <li ui-sref-active="{'active': 'main.home'}" tour-step tour-step-title="Settings" tour-step-content="Click here to change your settings."
                tour-step-order="1">
                <a ui-sref="main.home">Home</a>
            </li>
            <li class="dropdown" ui-sref-active="{'active': 'main.home.page1'}">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li ui-sref-active="{'active': 'main.home.page1.page11'}">
                        <a ui-sref="main.home.page1.page11">Page 1-1</a>
                    </li>
                    <li ui-sref-active="{'active': 'main.home.page1.page12'}">
                        <a ui-sref="main.home.page1.page12">Page 1-2</a>
                    </li>
                </ul>
            </li>
            <li ui-sref-active="{'active': 'main.home.page2'}">
                <a ui-sref="main.home.page2">Page 2</a>
            </li>
        </ul>
    </div>
</nav>